<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Landmark</title>
  </head>
  <body>
    <h1>Edit Landmark</h1>

    <form action="/landmarks/<%= @landmark.id %>" method="post">
      Name: <input type="text" name="name" value="<%= @landmark.name %>"><br><br>
      Year Completed: <input type="number" name="year_completed"  min="1000" max="2018"  value="<%= @landmark.year_completed %>"><br><br>
      Figures:<br><br>
      <% @figures.each do |figure| %>


        <input type="radio" name="figure_id" value="<%= figure.id %>" <%= 'checked' if @landmark.figure == figure%>/>
        <%= figure.name %><br>
        <br>
      <%end%>
      <br><br>
      <input type="hidden" name="_method" value="patch">
      <input type="submit" value="submit">
    </form>


  </body>
</html>
